<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/style') %>
        <%- include('./style') %>

</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0" style="background-color: white;">
                            <div class="card-body">
                                <a href="/forgot-password" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="images/LOGO.svg" width="180" alt="">
                                </a>

                                <form id="ForgotPassForm">
                                    <div class="mb-3">
                                        <h3 class="text-center">Forgot Password?</h3>
                                        <p class="text-center">Enter your email address</p>
                                        <input type="email" name="email" class="form-control" id="email"
                                            aria-describedby="emailHelp" placeholder="Enter registered email" required>
                                    </div>

                                    <button type="button" id="SendOTP_Btn" onclick="return InitiateForgotPass()"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Send OTP</button>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- verify otp Modal -->
    <div class="modal fade" id="OTP_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verify OTP</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <form id="OTP_Form">
                            <p id="Email_Address_OTP" class="text-center">An OTP has been sent to XXX-XXXX.</p>
                            <p class="text-center">Please enter the OTP.</p>
                            <input name="otp" type="text" class="form-control" id="OTP_Input"
                                placeholder="Please enter OTP" aria-describedby="otp"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                    </div>
                    <button id="VerifyOTPBtn" onclick="VerifyOTP()"
                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Verify</button>

                    <div class="d-flex align-items-center justify-content-center">
                        <p class="resend-otp" id="Resend_OTP_Btn" class="text-primary fw-bold"
                            onclick="return ResendOTP()">Resend OTP?</p>
                        <p id="loadingptag"></p>
                        <p id="OTP_Timer" class="text-primary fw-bold"></p>

                    </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
            </div>
        </div>
    </div>
    <!--Verify OTP Modal Ends-->


    <!--New Password Modal-->
    <div class="modal fade" id="NewPass_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Reset Password</h5>

                </div>
                <div class="modal-body">
                    <form id="NewPass_Form">
                        <div class="mb-3">
                            <h3 class="text-center">New Password</h3>
                            <p class="text-center">Please create a new password that you don't use on any
                                other site</p>
                            <input name="NewPassInput" type="password" class="form-control" id="NewPassInput"
                                aria-describedby="passwordHelp" placeholder="Create new password">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" id="ConfirmPassInput" name="ConfirmPassInput"
                                aria-describedby="passwordHelp" placeholder="Confirm new password">
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <button type id="ChangeNewPass" onclick="ChangePass()"
                                class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Change</button>
                        </div>
                    </form>
                    </form>
                </div>
                <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
            </div>
        </div>
    </div>
    <!--New Password Modal Ends-->
    <%- include('../partials/script') %>

        <script>
            let timeLeft = 50
            const InitiateForgotPass = async () => {
                const form = $('#ForgotPassForm');
                form.validate({
                    rules: {
                        email: {
                            required: true,
                            email: true,
                        },
                    }
                })
                if (form.valid()) {
                    loading('SendOTP_Btn')
                    const email = $('#email').val().trim()
                    const data = await axios({
                        method: 'POST',
                        dataType: 'application/json',
                        data: { email },
                        url: `${config.SERVER_URL}${config.URLS.FORGOT_PASS}`
                    })
                        .then((resp) => {
                            const { data: { message } } = resp
                            $('#Email_Address_OTP').text(`An OTP has been sent to ${MaskEmail(email)}`)
                            $('#OTP_Modal').modal('show')
                            ToastMsg(message, 'Success')
                        }).catch((err) => {
                            const { response: { data: { message } } } = err
                            ToastMsg(message, 'Error')
                        })
                    removeText({ id: 'SendOTP_Btn', sendOTP: true })
                }
            }

            /** Reset form on modal close*/
            $('#OTP_Modal').on('hidden.bs.modal', () => {
                $('#OTP_Form').trigger('reset')
                $('#OTP_Form').validate().resetForm()
                timeLeft = -1
            })
            $('#NewPass_Modal').on('hidden.bs.modal', () => {
                $('#NewPass_Form').trigger('reset')
                $('#NewPass_Form').validate().resetForm()
            })
            let resetToken = ""

            const VerifyOTP = async () => {
                const form = $('#OTP_Form');
                form.validate({
                    rules: {
                        otp: {
                            required: true,
                            number: true,
                        },
                    }
                })
                if (form.valid()) {
                    loading('VerifyOTPBtn')
                    const requestParams = {
                        email: $('#email').val().trim().toLowerCase(),
                        otp: parseInt($('#OTP_Input').val().trim())
                    }
                    const data = await axios({
                        method: 'POST',
                        dataType: 'application/json',
                        data: requestParams,
                        url: `${config.SERVER_URL}${config.URLS.VERIFY_OTP}`
                    })
                        .then((resp) => {
                            const { data: { message, data: { resetToken: _token } } } = resp
                            resetToken = _token
                            $('#OTP_Modal').modal('hide')
                            $('#NewPass_Modal').modal('show')
                            ToastMsg(message, 'Sucess')
                        }).catch((err) => {

                            const { response: { data: { message } } } = err
                            ToastMsg(message, 'Error')
                        })
                    removeText({ id: 'VerifyOTPBtn', verify: true })
                }
            }

            const ChangePass = async () => {
                const form = $('#NewPass_Form');
                form.validate({
                    rules: {
                        NewPassInput: {
                            required: true,
                            minlength: 8,
                        },
                        ConfirmPassInput: {
                            required: true,
                            minlength: 8,
                            equalTo: "#NewPassInput"
                        },
                    },
                    messages: {
                        ConfirmPassInput: {
                            equalTo: "Confirm password does not match with new password.",
                        }
                    }
                })
                if (form.valid()) {
                    loading('ChangeNewPass')
                    const requestParams = {
                        newPassword: $('#NewPassInput').val().trim(),
                        token: resetToken
                    }
                    const data = await axios({
                        method: 'POST',
                        dataType: 'application/json',
                        data: requestParams,
                        url: `${config.SERVER_URL}${config.URLS.RESET_PASS}`
                    })
                        .then((resp) => {
                            const { data: { message } } = resp
                            $('#NewPass_Form').trigger('reset')
                            ToastMsg(message, 'Success')
                            setTimeout(() => {
                                window.location = `${window.location.origin}/admin`
                            }, 1000)
                        }).catch((err) => {
                            const { response: { data: { message } } } = err
                            ToastMsg(message, 'Error')
                        })
                        removeText({ id: 'ChangeNewPass', change: true })

                }
            }

            const ResendOTP = async () => {
                $('#Resend_OTP_Btn').attr('style', 'display: none');
                $('#loadingptag').attr('style', 'display: block');
                loading('loadingptag')
                const email = $('#email').val().trim()
                const data = await axios({
                    method: 'POST',
                    dataType: 'application/json',
                    data: { email },
                    url: `${config.SERVER_URL}${config.URLS.FORGOT_PASS}`
                })
                    .then((resp) => {
                        const { data: { message } } = resp
                        var seconds = 5;
                        var countdown = setInterval(function () {
                            $('#OTP_Timer').attr('style', 'display: block');
                            $('#Resend_OTP_Btn').attr('style', 'display: none');
                            $('#loadingptag').attr('style', 'display: none');
                            $('#OTP_Timer').text("Please wait " + seconds + "s");
                            seconds--;

                            if (seconds < 0) {
                                clearInterval(countdown);
                                $('#OTP_Timer').text("");
                                $('#Resend_OTP_Btn').attr('style', 'display: block');
                                $('#loadingptag').attr('style', 'display: none');
                            }
                        }, 1000);

                        ToastMsg(message, 'Success')
                    }).catch((err) => {
                        const { response: { data: { message } } } = err
                        ToastMsg(message, 'Error')
                    })
            }

        </script>
</body>

</html>