<!DOCTYPE html>
<html>

    <%- include('../partials/style.ejs') %>
<body>
    <div class="login-wrapper-cst">

        <div class="login-box">
            <div class="text-center bg-white">
                <span class="login-logo"> <img src="/img/final-logo-1.png" width="100%"></span>
            </div>
            <div class="text-center animated fadeInDown">
                <div>
                    <!-- <h3>Welcome to DocTrace</h3> -->
                    <!-- <p></p> -->
                    <div class="login-tab text-left">
                        <form id="verifyForm" class="m-t">
                            <div class="form-group d-flex justify-content-between align-content-center">
                                <div style="position: relative; width: 100%;">
                                    <label>Email Verification</label>
                                    <button style="position: absolute;right: 0;" id="sendEmailOtpBtn" onclick="sendEmailOtp()" class="btn btn-outline-secondary" >VERIFY YOUR EMAIL</button>
                                    <h3 id="emailText"></h3>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between align-content-center">
                                <div style="position: relative; width: 100%;">
                                    <label>Phone Verification</label>
                                    <button style="position: absolute;right: 0;" id="sendPhoneOtpBtn" onclick="sendPhoneOtp()" class="btn btn-outline-secondary">VERIFY YOUR PHONE</button>
                                    <h3 id="phoneText"></h3>
                                </div>
                            </div>
                            <button id="firstTimeLoginBtn" disabled onclick="firstTimeLogin()" class="btn btn-primary block full-width m-b">Login</button>
                            <!-- <a href="" class="text-right d-block" data-toggle="modal" data-target="#forgotmodalstore">Forgot Password?</a> -->
                            <!-- <p>Need and account? <a href="sign-up.html"> Sign up</a></p> -->

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- otp modal start -->
    <div class="modal fade" id="emailmodal" tabindex="-1" role="dialog" aria-labelledby="otpmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered forgotmodal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="title">Email Verification</h3>
                    <p class="head-text">Code has been sent on abc********</p>
                    <form id="emailOtpForm">
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-8">
                                <input id="emailOtpInput" type="text" class="form-control" placeholder="Enter code" required="">
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-center mt-4">
                        <div class="col-sm-3 col-6">
                            <button id="verifyEmailOtpBtn" onclick="verifyEmailOtp()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- otp modal end -->
    <!-- otp modal start -->
    <div class="modal fade" id="phonemodal" tabindex="-1" role="dialog" aria-labelledby="otpmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered forgotmodal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="title">Phone Verification</h3>
                    <p class="head-text">Code has been sent on xxx xxx xx43 </p>
                    <form id=phoneOtpForm>
                        <div class="form-group row justify-content-center otp-wrap">
                            <div class="col-sm-8">
                                <input id="phoneOtpInput" type="text" class="form-control" placeholder="Enter code" required="">
                            </div>
                        </div>
                    </form>
                    <div class="row justify-content-center mt-4">
                        <div class="col-sm-3 col-6">
                            <button class="btn btn-primary" id="verifyPhoneOtp" onclick="verifyPhoneOtp()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- otp modal end -->

    <!-- Mainly scripts -->

    <%- include('./../partials/script.ejs') %>
   
    <script src="/js/custom/login.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    

</body>

</html>