<!DOCTYPE html>
<html>

<head>

	<%- include('../partials/style.ejs') %>
		<title>NFT Management</title>
		<link rel="shortcut icon" type="image/png" href="../images/logos/favicon.png" />
		<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>

<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		<%- include('../partials/menu.ejs') %>
			<!-- side bar end -->
			<div class="body-wrapper">
				<!-- top nav start -->
				<%- include('../partials/header.ejs') %>
					<!-- top nav end -->
					<div class="container-fluid">
						<!--  Row 1 -->
						<div class="row">
							<div class="tab-pane fade show active" id="pro" role="tabpanel" aria-labelledby="del-tab">
									<table class="table table-striped table-bordered table-hover "
										id="nftTable" style="width: 100%;">
										<thead>
											<tr>
												<th>Sr No</th>
												<th>NFT Name</th>
												<th>Creator</th>
												<th>Owner</th>
												<th>Collection Name</th>
												<th>Price($)</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>

			</div>
			<!-- #main wrapper end -->
			<!-- Mainly scripts -->
			<%- include('../partials/script.ejs') %>
				<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
				<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

				<script src="/js/nft.js"></script>

				<style>
					.table-responsive {
						overflow-x: hidden;

					}

					@media (max-width: 1000px) {
						.table-responsive {
							overflow-x: auto;
							-webkit-overflow-scrolling: touch;
						}
					}


					.dataTables_wrapper .dataTables_filter {
						float: right;
						text-align: center;
					}

					.pagination {
						float: right;
					}
				</style>
</body>

</html>