<script>
    $(document).ready(()=>{
        const userData = JSON.parse(user)
        if(userData?.profilePic && userData?.profilePic !== ''){
            $('#NavbarProfileImage').prop('src', userData?.profilePic)
        }
    })
    $('#UpdateDetails_').off().on('click', async function () {
        const form = $('#PassForm')
        form.validate({
            rules: {
                oldPassword: {
                    required: true,
                    maxlength: 30,
                },
                newPassword: {
                    required: true,
                    maxlength: 30,
                    minlength: 8,
                },
                confirmPassword: {
                    required: true,
                    maxlength: 30,
                    minlength: 8,
                    equalTo: "#NewPass"
                }
            },
            messages:{
                'confirmPassword':{
                    equalTo: 'Password doesn\'t match.'
                }
            }
        })
        if (form.valid()) {
            $('#UpdateDetails_').prop('disabled', true)
            $('#UpdateDetails_').text('Please wait...')
            $('#UpdateDetails_').append(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`)
            const oldPassword = $('#OldPass').val().trim()
            const newPassword = $('#NewPass').val().trim()
            const requestParams = {
                oldPassword,
                newPassword,
                isFirstTimeLogin: false
            }
            await axios(axiosConfig(`${config.SERVER_URL}${config.URLS.CHANGE_PASS}`, 'POST', requestParams))
                .then((resp) => {
                    adminName = name
                    $('#ChangePasswordModal').modal('hide')
                    ToastMsg(resp?.data?.message, 'Success')
                    Logout()
                })
                .catch((err) => {
                    ToastMsg(err?.response?.data?.message, 'Error')
                })
            $('#UpdateDetails_').prop('disabled', false)
            $('#UpdateDetails_').text('Update')
            
        }
    })

    $('#ChangePasswordModal').on('hidden.bs.modal', function(){
        $('#PassForm').trigger('reset')
        $("#PassForm").validate().resetForm()
    })
</script>