<div class="row">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Total No of NFT's</h5>
            <div class="row align-items-center">
                <h4 class="fw-semibold mb-3">1000</h4>
                <div class="d-flex align-items-center mb-3">
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Total No of NFT's for Sale</h5>
            <div class="row align-items-center">
                <h4 class="fw-semibold mb-3">700</h4>
                <div class="d-flex align-items-center mb-3">
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Total No of NFT Sold</h5>
            <div class="row align-items-center">
                <h4 class="fw-semibold mb-3">500</h4>
                <div class="d-flex align-items-center mb-3">
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-9 fw-semibold">Total Revnue in $</h5>
            <div class="row align-items-center">
                <h4 class="fw-semibold mb-3">2000</h4>
                <div class="d-flex align-items-center mb-3">
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-6 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
          <div class="mb-3 mb-sm-0">
            <!-- <h5 class="card-title fw-semibold">Sales Overview</h5> -->
            <div>
              <select class="form-select">
                <option value="1">NFT's Created</option>
                <option value="2">NFT's Sold</option>
                <option value="3">NFT's Licensed</option>
              </select>
            </div>
          </div>
          <div>
            <select class="form-select">
              <option value="1">March 2023</option>
              <option value="2">April 2023</option>
              <option value="3">May 2023</option>
              <option value="4">June 2023</option>
            </select>
          </div>
        </div>
        <div id="chart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
          <div class="mb-3 mb-sm-0">
            <!-- <h5 class="card-title fw-semibold">Sales Overview</h5> -->
            <div>
              <select class="form-select">
                <option value="1">Total Users</option>
                <option value="2">Total Creators</option>
              </select>
            </div>
          </div>
          <div>
            <select class="form-select">
              <option value="1">March 2023</option>
              <option value="2">April 2023</option>
              <option value="3">May 2023</option>
              <option value="4">June 2023</option>
            </select>
          </div>
        </div>
        <div id="earning"></div>
      </div>
    </div>
  </div>

</div>
<script src="libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="js/dashboard.js"></script>