<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/style.ejs') %>
        <script>
            function redirectToSendOTP() {
                window.location.href = "sendOTP";
            }
            function redirectToResendOTP() {
                window.location.href = "resendOTP";
            }
        </script>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="/forgot-password" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Good to see you again</p>
                                <form>
                                    <div class="mb-3">
                                        <h3 class="text-center">Forgot Password?</h3>
                                        <p class="text-center">Enter your email address</p>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="admin1@gmail.com">
                                    </div>

                                    <a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                        onclick="redirectToSendOTP">Send OTP</a>

                                    <div class="modal fade" id="logoutModal" role="dialog" data-backdrop="static">
                                        <div class="modal-dialog modal-dialog-centered errorMessage">
                                            <!-- Modal content-->
                                            <div class="mb-3">
                                                <p class="text-center">An OTP has been sent to XXX-XXXX.</p>
                                                <p class="text-center">Please enter the OTP.</p>
                                                <input type="otp" class="form-control" id="exampleInputEmail1"
                                                    placeholder="please enter otp to login"
                                                    aria-describedby="emailHelp">
                                            </div>
                                            <a href="/new-password"
                                                class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">verify</a>

                                            <div class="d-flex align-items-center justify-content-center">
                                                <a class="text-primary fw-bold" onclick="redirectToResendOTP()">Resend
                                                    OTP?</a>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- verify otp -->


    <div class="card mb-0">
        <div class="card-body">
            <a href="/send-OTP" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
            </a>
            <form>
                <div class="mb-3">
                    <p class="text-center">An OTP has been sent to XXX-XXXX.</p>
                    <p class="text-center">Please enter the OTP.</p>
                    <input type="otp" class="form-control" id="exampleInputEmail1"
                        placeholder="please enter otp to login" aria-describedby="emailHelp">
                </div>
                <a onclick="redirectToSendOTP" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">verify</a>
                <!-- <a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                        onclick="redirectToIndex()">Resend OTP?</a> -->
                <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold" onclick="redirectToIndex()">Resend OTP?</a>

                </div>
            </form>
        </div>
    </div>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sidebarmenu.js"></script>
    <script src="/js/app.min.js"></script>
    <script src="/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="./libs/simplebar/dist/simplebar.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>


<!-- <div class="mb-3">
    <p class="text-center">An OTP has been sent to XXX-XXXX.</p>
    <p class="text-center">Please enter the OTP.</p>
    <input type="otp" class="form-control" id="exampleInputEmail1" placeholder="please enter otp to login"
        aria-describedby="emailHelp">
</div>
<a onclick="redirectToSendOTP" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">verify</a>

<div class="d-flex align-items-center justify-content-center">
    <a class="text-primary fw-bold" onclick="redirectToIndex()">Resend OTP?</a>

</div> -->