<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/style.ejs') %>
</head>

<body>

    <div class="login-wrapper-cst" id="loginModel">
        <div class="login-box">
            <div class="text-center bg-white">
            </div>
            <div class="page-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
                data-sidebar-position="fixed" data-header-position="fixed">
                <div
                    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <div class="row justify-content-center w-100">
                            <div class="col-md-8 col-lg-6 col-xxl-3">
                                <div class="card mb-0" style="background-color: white;">
                                    <div class="card-body">
                                        <a href="index.ejs" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                            <img src="/images/LOGO.svg" width="180" alt="">
                                        </a>
                                        <p class="text-center">Good to see you again</p>
                                        <form id="loginForm">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">EmailId</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    aria-describedby="emailHelp" placeholder="e.g.john@gmail.com"
                                                    required>
                                            </div>
                                            <div class="mb-4">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password"
                                                    name="password" placeholder="e.g.iloveatomicpeople123" required>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                            </div>
                                            <a class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                                onclick="login()">Log In</a>

                                            <div class="d-flex align-items-center justify-content-center">
                                                <a href="/forgot-password" class="text-primary fw-bold">Forgot
                                                    Password ?</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" id="2FAModel" style="display: none;">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0" style="background-color: white;">
                            <div class="card-body">
                                <div class="d-flex justify-content-center">
                                    <img src="" id="qrCode" width="180" alt="">
                                </div>
                                <form>
                                    <div class="mb-3">
                                        <h2 class="text-center">Please enter 2FA code</h2>
                                        <p class="text-center">Two-factor authentication(2FA) is enabled for your
                                            account.</p>
                                    </div>
                                    <div class="mb-3">
                                        <input type="number" class="form-control" id="otp" name="otp"
                                            placeholder="please enter otp to login" aria-describedby="otp">
                                    </div>
                                    <a onclick="login()"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">verify</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" id="resetPasswordModel" style="display: none;">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="/new-password" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Good to see you again</p>
                                <form>
                                    <div class="mb-3">
                                        <h3 class="text-center">New Password</h3>
                                        <p class="text-center">Please create a new password that you don't use on any
                                            other site</p>
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            aria-describedby="passwordHelp" placeholder="Create new password">
                                    </div>
                                    <div class="mb-4">
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            aria-describedby="passwordHelp" placeholder="Confirm new password">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a onclick="redirectToPasswordChanged()" class="text-primary fw-bold">Change</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <%- include('./partials/script.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <link rel="text/stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
        <script>
            let secretCode
            const login = async () => {
                const loginForm = $('#loginForm');
                loginForm.validate({
                    rules: {
                        password: {
                            required: true,
                            normalizer(value) {
                                return $.trim(value);
                            },
                        },
                        email: {
                            required: true,
                            email: true,
                        },
                    }
                });
                if (loginForm.valid()) {
                    const loginData = {
                        email: $('#email').val(),
                        password: $('#password').val(),
                        ...($('#otp').val() && { otp: $('#otp').val() }),
                        ...(secretCode && { secret: secretCode })
                    }
                    await axios({
                        method: 'POST',
                        dataType: 'application/json',
                        data: loginData,
                        url: `${config.SERVER_URL}${config.URLS.LOGIN_URL}`
                    }).then(response => {
                        console.log(response);
                        const { data: { data: { secret } } } = response;
                        if (secret?.qr) {
                            secretCode = response.data.data.secret;
                            $('#qrCode').attr('src', secret?.qr);
                        }
                        $('#loginModel').attr('style', 'display: none');
                        $('#2FAModel').attr('style', 'display: block');

                        if (response?.data?.data?.token) {
                            localStorage.setItem('token', response?.data?.data?.token);
                            localStorage.setItem('user', response?.data?.data?.user);
                            axios({
                                method:'POST',
                                url: '/create-session',
                                dataType: 'application/json',
                                data: {...loginData, token: response?.data?.data?.token, user: response?.data?.data?.user}
                            });
                            window.location.href = '/admin'
                        }
                    }).catch(err => {
                        console.log(err);
                        const { response: { data: { message } } } = err;
                        if (message === '2FA_REQUIRED') {
                            $('#loginModel').attr('style', 'display: none');
                            $('#2FAModel').attr('style', 'display: block');
                        } else {
                            Toastify({
                                text: message,
                                close: true,
                                style: {
                                    background: "RED",
                                },
                                duration: 3000
                            }).showToast();
                        
                        }
                    })
                }
            }
        </script>
</body>

</html>