<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/style.ejs') %>
    <script>
        function redirectToPasswordChanged() {
            window.location.href = "password-changed";
        }

    </script>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0" style="background-color: white;">
                            <div class="card-body">
                                <a href="/new-password" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <!-- <img src="/images/logos/dark-logo.svg" width="180" alt=""> -->
                                </a>
                                <p class="text-center">Good to see you again</p>
                                <form>
                                    <div class="mb-3">
                                        <h3 class="text-center">New Password</h3>
                                        <p class="text-center">Please create a new password that you don't use on any
                                            other site</p>
                                        <!-- <label for="exampleInputEmail1" class="form-label">Username</label> -->
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            aria-describedby="passwordHelp" placeholder="Create new password">
                                    </div>
                                    <div class="mb-4">
                                        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            aria-describedby="passwordHelp" placeholder="Confirm new password">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a onclick="redirectToPasswordChanged()" class="text-primary fw-bold">Change</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>