<style>
    .slider.round {
        border-radius: 34px;
        width: 42px;
        min-width: inherit;
        margin-left: -6px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0px;
        background-color: rgb(204, 204, 204);
        transition: all 0.4s ease 0s;
    }
</style>
<div class="row">
    <div class="tab-pane fade show active" id="pro" role="tabpanel" aria-labelledby="del-tab">
        <div class="row m-b-sm">
            <div class="col-md-8">
                <div class="bootstrap-tagsinput" id="myDropdown">
                    <div class="btn-group dropdown-filter">
                        <button type="button" class="btn dropdown-toggle m-r-sm" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter" aria-hidden="true"></i> Filter by
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width: 300px;">
                            <li class="dropdown-actions d-flex-between">
                                <div>
                                    <a onclick="closeFilter()">
                                        <i class="fa fa-times" aria-hidden="true" style="color: #000;font-size: large;
                                            margin-top: 4px;"></i></a>
                                </div>
                            <li role="separator" class="divider"></li>
                            <li>
                                <div class="form-group">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <select id="select-method" class="form-control"
                                            style="margin: 3rem; margin-top: 3px;">
                                            <option value="">
                                                Type
                                            </option>
                                            <option value="Buy">Buy</option>
                                            <option value="PutOnSale">Sale</option>
                                            <option value="Gift">Gift</option>
                                            <option value="Donate">Donate</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <select id="select-status" class="form-control"
                                        style="margin: 3rem; margin-top: -30px;">
                                            <option value="">
                                                Status
                                            </option>
                                            <option value="Success">Success</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Failed">Failed</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- col-12 mt-3 -->
                            </li>
                            <li>
                                <div class="form-group" style="margin-top: -50px;">
                                    <label for="formControlRange" style="margin: 2rem;">Value Range</label>

                                    <div class="d-flex-around" >
                                        <div style="display: flex; margin-top: -50px;">

                                            <input id="startAmountRange" type="text" placeholder="0" disabled value=""
                                                class="form-control" style="width: 28%; border: 1px solid;
                                                margin: 2rem;
                                                text-align: center;">

                                            <input id="endAmountRange" type="text" class="form-control" value=""
                                             placeholder="Max" disabled style="width: 28%; border: 1px solid;
                                             margin: 2rem; text-align: center;">
                                        </div>
                                    </div>
                                </div>
                                <li>

                                    <div class="form-group" style="margin-top: -10px;">
                                        <label for="formControlRange" style="margin: 2rem; margin-top: -800px;">Txn Fee
                                            Range</label>
    
                                        <div class="d-flex-around">
                                            <div style="display: flex; margin-top: -50px;">
    
                                                <input id="startTxnRange" type="text" value="" class="form-control"
                                                    placeholder="0" disabled style="width: 28%; border: 1px solid;
                                                    margin: 2rem;
                                                    text-align: center;">
                                                <input type="text" class="form-control " id="endTxnRange" placeholder="Max"
                                                    value="" disabled style="width: 28%; border: 1px solid;
                                                    margin: 2rem;
                                                    text-align: center;">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </li>
                            
                            <div class="text-center" style="margin-top: -10px;">
                                <button onclick="filterApi()" type="button"
                                    class="btn btn-success btn-xs">Apply</button>
                            </div>


                            </li>

                        </ul>

                        <span id="filter-profile" class="tag label label-primary hide">

                            <a onclick="resetProfileFilter()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                        <span id="filter-method" class="tag label label-primary hide">

                            <a onclick="resetMethodFilter()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                        <span id="filter-status" class="tag label label-primary hide">

                            <a onclick="resetStatusFilter()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                        <span id="filter-lastMonth" class="tag label label-primary hide">

                            <a onclick="resetDateFilter()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                        <span id="filter-amount" class="tag label label-primary hide">

                            <a onclick="resetAmount()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                        <span id="filter-txn" class="tag label label-primary hide">

                            <a onclick="resetTxn()" style="color: #fff;"><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">

                <table class="table table-striped table-bordered table-hover " id="transactionTable">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Txn Hash</th>
                            <th>Status</th>
                            <th>Seller ID</th>
                            <th>Buyer ID</th>
                            <th>Section</th>
                            <th>Item</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Payment Mode</th>
                            <th>Date</th>
                            <th>Fees</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).on('click', '.dropdown-menu li', function (e) {
            console.log("click")
            e.stopPropagation();
        }); $(document).on('click', '.dropdown-menu li  option', function (e) {
            e.stopPropagation();
        });
        $('#myDropdown .dropdown-menu').on({
            "click": function (e) {
                e.stopPropagation();
            }
        });
    </script>