<%-include('./style')%>
    <div class="card-body">
        <div class="row">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">User Management</button>
                    <button class="nav-link" id="nav-role-tab" data-bs-toggle="tab" data-bs-target="#nav-role"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Role
                        Management</button>
                </div>
            </nav>
            <hr>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-primary m-1">Create Admin</button>
                    </div>
                    <div class="row p-4">
                        <table class="table table-striped table-bordered table-hover visible" id="userTable">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Email address</th>
                                    <th>Created By</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-role" role="tabpanel" aria-labelledby="nav-role-tab">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-primary m-1">Create Role</button>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover visible" id="roleTable" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Role name</th>
                                    <th>Created By</th>
                                    <th>Total Users</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="Edit_Success_Modal" tabindex="-1" role="dialog"
        aria-labelledby="successMessagemodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered successMessage" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 class="title">Admin Updated Successfully!</h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">OK</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Delete_Success_Modal" tabindex="-1" role="dialog"
        aria-labelledby="successMessagemodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered successMessage" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 class="title">Admin successfully deleted!</h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">OK</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
                </div>
                <div class="modal-body">
                    <form id="Edit_Form">
                        <div class="mb-3">

                            <label for="text" class="form-label">Name</label>
                            <input name="name" type="text" class="form-control" id="NameInput" aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="EmailInput"
                                aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Role</label>
                            <select class="form-control" id="RoleList">

                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="UpdateDetails" type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="View_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Admin Details</h5>
                
                </div>
                <div class="modal-body">
                    <form id="Edit_Form">
                        <div class="mb-3">

                            <label for="text" class="form-label">Name</label>
                            <input disabled name="name" type="text" class="form-control" id="NameInputView" aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Email</label>
                            <input disabled name="email" type="email" class="form-control" id="EmailInputView"
                                aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Role</label>
                            <input disabled class="form-control" id="RoleListView">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="View_Role_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Role Details</h5>
                
                </div>
                <div class="modal-body">
                    <form id="View_Role_Modal_Form">
                        <div class="mb-3">

                            <label for="text" class="form-label">Role Name</label>
                            <input disabled name="name" type="text" class="form-control" id="RoleInputView" aria-describedby="name">
                        </div>
                        <div class="from-group text-right">
                            <div class="d-flex-between m-b-sm"> 
                                <div class="col-sm-6">
                                    <label for="text" class="form-label">Permissions</label>
                                </div>   
                                <!-- <div class="col-sm-6">
                                    <label for="text" class="form-label">Permissions</label>
                                </div>    -->
                            </div>
                           
    
    
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Admin Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminMngCreate"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminMngEdit"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminMngView"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>User Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Category Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>License/Member Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>NFT Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Royalties Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Transaction Management</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Infatuation</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Curated</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>CMS</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md m-b-sm">
                                <div class="col-sm-6"> <label>Feature</label></div>
                                <div class="col-sm-6">
                                    <div class="text-right switchnew">
                                            <input type="checkbox" id="adminManagement"> Create &nbsp;&nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> Edit &nbsp; &nbsp; &nbsp;
                                            <input type="checkbox" id="adminManagement"> View
                                    </div>
                                </div>
                            </div>
                            
    
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="Delete_Role_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 id="RoleDeleteModalText" class="title"></h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button id="DeleteRoleBtn" type="button" class="btn btn-block btn-primary">Delete</button> 
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">Cancel</button> 
                </div>
            </div>
    </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="Delete_Confirm_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 id="AdminDeleteModalText" class="title"></h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button id="DeleteAdminBtn" type="button" class="btn btn-block btn-primary">Delete</button> 
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">Cancel</button> 
                </div>
            </div>
    </div>
    </div>
    <!--Modal Ends -->

<%- include('../partials/datatable-script')%>
<script src="js/datatable-config.js"></script>
<script src="js/sub-admin-controls.js"></script>
