<%-include('./style')%>
    <div class="card-body">
        <div class="row">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">User Management</button>
                    <button class="nav-link" id="nav-role-tab" data-bs-toggle="tab" data-bs-target="#nav-role"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Role
                        Management</button>
                </div>
            </nav>
            <hr>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-primary m-1">Create Admin</button>
                    </div>
                    <div class="row p-4">
                        <table class="table table-striped table-bordered table-hover visible" id="userTable">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Email address</th>
                                    <th>Created By</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-role" role="tabpanel" aria-labelledby="nav-role-tab">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-primary m-1">Create Role</button>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover visible" id="roleTable">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Role name</th>
                                    <th>Created By</th>
                                    <th>Total Users</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="Edit_Success_Modal" tabindex="-1" role="dialog"
        aria-labelledby="successMessagemodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered successMessage" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 class="title">Admin Updated Successfully!</h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">OK</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Delete_Success_Modal" tabindex="-1" role="dialog"
        aria-labelledby="successMessagemodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered successMessage" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 class="title">Admin successfully deleted!</h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">OK</button> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Admin</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> -->
                </div>
                <div class="modal-body">
                    <form id="Edit_Form">
                        <div class="mb-3">

                            <label for="text" class="form-label">Name</label>
                            <input name="name" type="text" class="form-control" id="NameInput" aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Email</label>
                            <input name="email" type="email" class="form-control" id="EmailInput"
                                aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Role</label>
                            <select class="form-control" id="RoleList">

                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="UpdateDetails" type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="View_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Admin Details</h5>
                
                </div>
                <div class="modal-body">
                    <form id="Edit_Form">
                        <div class="mb-3">

                            <label for="text" class="form-label">Name</label>
                            <input disabled name="name" type="text" class="form-control" id="NameInputView" aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Email</label>
                            <input disabled name="email" type="email" class="form-control" id="EmailInputView"
                                aria-describedby="name">
                        </div>
                        <div class="mb-3">

                            <label for="text" class="form-label">Role</label>
                            <select disabled class="form-control" id="RoleListView">

                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="Delete_Confirm_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div style="background-color: white;" class="modal-content">
                <div class="modal-body text-center">
                   
                    <h3 id="AdminDeleteModalText" class="title"></h3>
                    <img src="images/backgrounds/rocket.png" alt="success">
                    <p class="head-text" id="successMessageBox"></p>
                    <button id="DeleteAdminBtn" type="button" class="btn btn-block btn-primary">Delete</button> 
                    <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">Cancel</button> 
                </div>
            </div>
    </div>

<%- include('../partials/datatable-script')%>
<script type="text/javascript">
    const token = localStorage.getItem('user')
    const user = JSON.parse(token)
    $(document).ready(async () => {
        await axios({
            url: `${config.SERVER_URL}${config.URLS.ROLE_LIST}`,
            method: 'GET',
            headers: {
                authorization: `Bearer ${user.token}`
            }
        })
            .then((resp) => {
                $.each(resp.data.data[0].list, function (i, item) {
                    $('#RoleList').append($('<option>', {
                        value: item._id,
                        text: item.roleName,
                        id: item._id,
                        class: 'form-control'
                    }));
                    $('#RoleListView').append($('<option>', {
                        value: item._id,
                        text: item.roleName,
                        id: item._id,
                        class: 'form-control'
                    }));
                });
            })
            .catch((err) => {
                ToastMsg(err?.response?.data?.message, 'Error')
            })
        loadTable()
    })

    const loadTable = () => {
        $('#userTable').DataTable({
            destroy: true,
            search: true,
            processing: true,
            filter: true,
            orderMulti: false,
            serverSide: true,
            columnDefs: [{ 'orderable': false, 'targets': 0 }], // hide sort icon on header of first column
            aaSorting: [[3, 'desc']],
            responsive: true,
            ajax: {
                url: `${config.SERVER_URL}${config.URLS.ADMIN_LIST}`,
                type: "GET",
                contentType: 'application/json',
                datatype: "json",
                headers: {
                    authorization: `Bearer ${user.token}`
                }
            },
            columns: [
                {
                    orderable: false, targets: -1,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: 'name' },
                { data: 'email' },
                {
                    render: (data, type, row, meta) => {
                        return row.createdBy ? row?.createdBy : 'Super Admin'
                    }
                },
                {
                    render: (data, type, row, meta) => {
                        return row.roleDetails.length > 0 ? row?.roleDetails[0]?.roleName : 'Role not assigned'
                    }
                },
                {
                    data: '_id', orderable: false, targets: -1,
                    render: (data, type, row, meta) => {
                        let title = ""
                        let modal = ""
                        let _Class = ""
                        if (row.isActive) {
                            title = "Active"
                            modal = "#Deactivate_Modal"
                            _Class = "fa fa-user enabled-user"
                        } else {
                            title = "Inactive"
                            modal = "#Reactivate_Modal"
                            _Class = "fa fa-user-times disable-user"
                        }
                        let text = `<div class='action-btn'>
                            <a data-bs-toggle="modal" data-bs-target="#View_Modal" data-id="${row._id}" data-name="${row.name}" data-roleid="${row.roleId}" data-email = "${row.email}">
                        
                          <i data-toggle="tooltip" data-placement="top" title="View" class="fa fa-eye" aria-hidden="true"></i></a>                         
                          <a data-bs-toggle="modal" data-bs-target="#Edit_Modal" data-id="${row._id}" data-name="${row.name}" data-roleid="${row.roleId}" data-email = "${row.email}">
                          <i data-toggle="tooltip" data-placement="top" title=${title} class="fa fa-pencil" aria-hidden="true"></i></a>
                          <a data-bs-toggle="modal" data-bs-target = "#Delete_Confirm_Modal" data-name="${row.name}" data-id="${row._id}" data-status = "${row.isActive}">
                          <i data-toggle="tooltip" data-placement="top" title='${title}' class="fa fa-trash" aria-hidden="true"></i></a>
                          </div>`
                        return text
                    }
                }
            ]
        })

    }

    let roleId


    /** Edit Admin Method*/
    $('#Edit_Modal').on('show.bs.modal', (e) => {
        const btn = $(e.relatedTarget)
        const name = btn.data('name')
        const email = btn.data('email')
        let roleId = btn.data('roleid')
        const userId = btn.data('id')
        $('#NameInput').val(name)
        $('#EmailInput').val(email)
        $(`#RoleList`).val(roleId)
        $('#RoleList').on('change', function () {
            roleId = this.value
        })

        /** Update the Admin Details*/
        $('#UpdateDetails').off().on('click', async function () {
            const requestParams = {
                name,
                email,
                roleId,
                userId
            }
            await axios({
                url: `${config.SERVER_URL}${config.URLS.EDIT_ADMIN}`,
                method: 'PATCH',
                data: requestParams,
                headers: {
                    authorization: `Bearer ${user.token}`
                }
            })
                .then((response) => {
                    ToastMsg(response?.data?.message, 'Success')
                    $('#Edit_Modal').modal('hide')
                    $('#Edit_Success_Modal').modal('hide')
                })
                .catch((err) => {
                    const { response: { data: { message } } } = err
                    ToastMsg(message, 'Error')
                })
        })


    })


    /** View Admin Details Method*/

    $('#View_Modal').on('show.bs.modal', (e) => {
        const btn = $(e.relatedTarget)
        const name = btn.data('name')
        const email = btn.data('email')
        let roleId = btn.data('roleid')
        const userId = btn.data('id')
        $('#NameInputView').val(name)
        $('#EmailInputView').val(email)
        $(`#RoleListView`).val(roleId)
    })


    $('#Delete_Confirm_Modal').on('show.bs.modal', (e) => {
        const btn = $(e.relatedTarget)
        const userId = btn.data('id')
        $('#AdminDeleteModalText').text(`Are you sure you want to delete ${name} admin?`)

        $('#DeleteAdminBtn').off().on('click', async function(){
            $('#DeleteAdminBtn').text('Please wait..')
            const requestParams = {
                userId,
                status: false
            }
            await axios({
                url: `${config.SERVER_URL}${config.URLS.DELETE_ADMIN}`,
                method: 'PATCH',
                data: requestParams,
                headers: {
                    authorization: `Bearer ${user.token}`
                }
            })
            .then((resp)=>{
                $('#DeleteAdminBtn').text('Delete')
                $('#Delete_Confirm_Modal').modal('hide')
                ToastMsg('ADMIN_DELETED', 'Success')
                loadTable()
            })
            .catch((err)=>{
                const { response: { data: { message } } } = err
                    ToastMsg(message, 'Error')
            })
        })
       
    })
</script>