<script>
    //text editor 
    $(document).ready(() => {
        $('#editor').summernote({
            height: '180px',
            width: '650px',
        })
        loadTable()
        // Event listener for color selection
        $('.color').click(function () {
            var color = $(this).css('background-color');
            $('#selected-color').val(color);
        });
    })
    //text editor ends


    const collectionTableConfig = {
        url: `${config.SERVER_URL}${config.URLS.COLLECTION_LIST}`,
        type: 'GET'
    }
    const columns = [
        {
            orderable: false, targets: -1,
            render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
            }
        },
        { data: 'title' },
        {
            render: (data, type, row, meta) => {
                return row?.creatorDoc ? row.creatorDoc?.name : ''
            }
        },
        {
            render: (data, type, row, meta) => {
                return row?.ownerDoc ? row.ownerDoc?.name : ''
            }
        },
        {
            render: (data, type, row, meta) => {
                return row?.releaseDate ? new Date(row?.releaseDate).toLocaleDateString() : 'NA'
            }
        },
        {
            render: (data, type, row, meta) => {
                return row?.avgSellingPrice ? row?.avgSellingPrice : 'NA'
            }
        },
        {
            render: (data, type, row, meta) => {
                let text = `<div class="form-check form-switch">
                    <input name="blockAdmin" type="checkbox" class="form-check-input" id="blockToggle" value="${row._id}">
                </div>`
                return text
            }
        },
    ]
    const loadTable = () => initiateDatatable('nftTable', collectionTableConfig, columns)

    // Multiple select field with search
    $('#multiple-select-field').select2({
        width: '100%',
        placeholder: $(this).data('placeholder'),
        closeOnSelect: false,
    });
    // Multiple select field with search ends


    var imageInput = document.getElementById("BannerImageInput")
    var preview = document.getElementById("BannerImagePreview")
    imageInput.addEventListener("change", (event) => {
        $('#BannerText').attr('style', 'display: none')
        $('#BannerImagePreview').attr('style', 'display: block')
        var url = URL.createObjectURL(event.target.files[0])
        preview.setAttribute("src", url)
    })
    $('#BannerImagePreview').attr('style', 'width: 300px; height: 200px')

    /** Method to add Profile Link Input */
    const addButton = document.getElementById("AddProfileInput");
    const inputContainer = document.getElementById("ProfileLinkDiv");
    let inputCount = 0;
    function addInput() {
        inputCount++;
        var input = document.createElement("input");
        input.type = "text";
        input.id = "ProfileLinkInput_" + inputCount;
        input.className = "form-control";
        input.placeholder = "Add Profile Link"
        input.style = 'margin-bottom: 3px; margin-top: 3px'
        input.name = "profileLink[]"
        inputContainer.appendChild(input);
    }
    addButton.addEventListener("click", addInput);
</script>